body {
  background-color: $background-color;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  margin: 0;
}

.page-wrapper, .main__card-container {
  max-width: 90%;
  margin: 0 auto;
}

.main__card-container {
  background-color: $white-color;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  height: 400px;
}

.main__card-container:hover {
  box-shadow: none;
}