h2 {
  color: $primary-color;
}

h3 {
  background-color: $primary-color;
  color: $white-color;
  border-radius: 5px 5px 0 0;
  margin-bottom: 0;
  padding: 20px;
}

footer p {
  color: $white-color;
  font-weight: 400;
  padding: 10px;
  text-transform: uppercase;
}

.main__card-container p {
  margin: 0;
  padding: 20px;
}